 body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin-top: 100px;
    }
    #timer {
      font-size: 48px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    #message {
      font-size: 48px;
      color: rgb(182, 48, 93);
    }
    #startBtn{
        padding: 15px;
        margin-bottom: 10px;
        background-color: rgb(170, 102, 98);
    }